<div class="container">
	<div class="row">
      <div class="col-md-4">
      <div id="logo">
  <a href="/"><img src="https://cdn.shopify.com/s/files/1/2171/8349/files/Pasted.png?1092274628692787752" class="img-responsive"/></a>
        </div>
      </div>
      <div class="col-md-4">
        <div id="a-menu-icon">
        <a href ="/"><img src="https://cdn.shopify.com/s/files/1/2171/8349/files/Pasted-1.png?1092274628692787752" class="img-responsive"/></a>
      </div>
      <div class="col-md-4">
        <div id="a-contact-icon">
      <img src="https://cdn.shopify.com/s/files/1/2171/8349/files/Pasted-2.png?1092274628692787752" class="img-responsive"/>
        </div>
      </div>
</div>
	</div>
  
</div>